<div class="magazine-header">
    <h1 class="mb-0 text-center"><?= /* @escapeNotVerified */ __('The Magazine') ?></h1>
    <p data-mage-init='{"Swissclinic_AmastyBlogExtension/js/swissBlog": {"invalidateOnLoad" : true}}' class="d-none"></p>
</div>