<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Blog
 */
?>
<?php
$collection = $block->getCollection();
$hasItems = count($collection);
$id = (int) $block->getRequest()->getParam('id');
?>
<?php if ($block->getDisplay() && count($collection)): ?>
<div class="block amblog-categories">
    <div class="block-content magazine-links">
        <ul class="mplog-categories d-flex mb-0">
            <?php if ($hasItems) : ?>
                <li class="amblog-category<?php if (!$id): ?> active<?php endif; ?>">
                    <a href="<?php echo $block->getUrl('blog') ?>"><?= /* @escapeNotVerified */ __('All') ?></a>
                </li>
                <?php foreach ($collection as $category): ?>
                <?php $isActive = ( (int) $category->getId() == $id ) ?>
                    <li class="amblog-category<?php if ($isActive): ?> active<?php endif; ?> amblog-category-<?php echo $category->getId(); ?>">
                        <a href="<?php echo $category->getUrl(); ?>"><?= /* @escapeNotVerified */ __($block->escapeHtml($category->getName())); ?></a>
                    </li>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
