<?php
/* @var $block \Swissclinic\AmastyBlogExtension\Block\Sidebar\Recentpost */
$collection = $block->getCollection();
?>
<?php if ($block->getDisplay() && count($collection)): ?>
<div class="block amblog-recentposts">
    <h2 class="text-center mb-2"><?php echo $block->getBlockHeader(); ?></h2>
    <div class="block-content">
        <ul class="mbplog-recent-posts">
        <?php foreach ($collection as $post): ?>
            <li class="amblog-recent-post<?php if ($post->getIsActive()): ?> active<?php endif; ?> amblog-recent-post-<?php echo $post->getId(); ?> fix-me">
                <?php if ($block->hasThumbnail($post)): ?>
                <a class="thumbnail" href="<?php echo $post->getPostUrl(); ?>" title="<?php echo $block->escapeHtml($post->getTitle()); ?>">
                    <img class="img" src="<?php echo $block->getThumbnailSrc($post); ?>" alt="<?php echo $block->escapeHtml($post->getTitle()); ?>" >
                </a>
                <?php endif; ?>
                <div class="recent-post-content">
                    <?php if ($block->needShowDate()): ?>
                    <div class="am-recentpost-date">
                        <?php echo $block->renderDate($post->getCreatedAt()); ?>
                    </div>
                    <?php endif; ?>
                    <h2 class="mt-3"><a href="<?php echo $post->getPostUrl(); ?>"><?php echo $block->escapeHtml($post->getTitle()); ?></a></h2>
                    <?php if ($block->needShowThesis()): ?>
                    <div class="am-post-thesis">
                        <?php echo $block->getStrippedContent($post->getShortContent()); ?>
                    </div>
                    <?php endif; ?>
                    <a class="button am-read-more" href="<?php echo $block->getReadMoreUrl($post); ?>" title="<?php echo __("Read More"); ?>">
                        <?php echo __("Read More"); ?>
                    </a>
                </div>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
