<?php
/**
 * @var Swissclinic\AmastyBlogExtension\Block\Widgets\Blog\Posts $block
 */
?>
<?php $collection = $block->getCollection(); ?>
<div class="list row">
    <?php if (count($collection)): ?>
        <?php foreach ($collection as $post): ?>
            <div class="post col-12 col-md-6">
                <?php if ($post->getListThumbnailSrc()): ?>
                    <div class="thumbnail-container">
                        <a href="<?php echo $post->getPostUrl(); ?>" title="<?php echo $block->escapeHtml($post->getTitle()); ?>">
                            <img class="thumbnail" src="<?php echo $post->getListThumbnailSrc(); ?>" alt="<?php echo $block->escapeHtml($post->getTitle()); ?>"/>
                        </a>
                    </div>
                <?php endif; ?>
                <strong><a href="<?php echo $post->getPostUrl(); ?>"><?php echo $block->escapeHtml($post->getTitle()); ?></a></strong>
                <div class="description">
                    <?php echo $post->getShortContent(); ?>
                </div>
                <div class="read-more">
                    <a class="button" href="<?php echo $block->getReadMoreUrl($post); ?>" title="<?php echo __("Read More"); ?>">
                        <?php echo __("Read More"); ?>
                    </a>
                </div>
            </div>
        <?php endforeach; ?>
        <?php echo $block->getToolbarHtml(); ?>
    <?php else: ?>
        <p><?php echo __("There are no posts yet."); ?></p>
    <?php endif; ?>
</div>