@baseDir: '../';
@media-common: true;
@import 'source/_variables.less';
@import 'source/_utilities.less';

body[class*='amblog'] {
    .magazine-header {
        margin: 0 -20px 20px !important;
        color: #470018;
        padding: 3rem 0;

        @media only screen and(min-width: 768px) {
            margin: 20px 0 !important;
        }
    }

    .page-title-wrapper {
        display: none;
    }

    #amblog_content_list {
        margin-bottom: 40px;
    }

    .post {
        .title {
            font-family: 'Beausite Slick', 'Times New Roman', Times, serif;
            font-weight: 300;
            line-height: 1;
            font-size: 2.4rem;
            margin-top: 2.5rem;
            margin-bottom: 2rem;

            strong {
                font-weight: 300;
            }
        }

        @media only screen and (max-width: 425px) {
            .description {
                display: none;
            }

            text-align: center;
        }

        @media only screen and (max-width: 767px) {
            & + .post {
                margin-top: 40px;
            }
        }

        @media only screen and (min-width: 768px) {
            &:nth-child(n + 3) {
                margin-top: 40px;
            }
        }

        .read-more .button {
            text-decoration: underline;
            font-style: italic;
        }
    }

    .mplog-categories {
        padding: 0;
        text-align: center;
    }

    .mplog-categories > li {
        -webkit-flex: 1;  // Safari 6.1+
        -ms-flex: 1;  // IE 10
        flex: 1;
        list-style: none;
    }

    .amblog-category {
        font-size: 16px;
    }

    .amblog-category.active {
        text-decoration: underline;
    }

    //#amblog_content_list div.thumbnail-container img.thumbnail
    //{
    //    max-width: 100%;
    //    position: relative;
    //    width: 605px;
    //    height: 351px;
    //    background-position: 50% 50%;
    //    background-repeat: no-repeat;
    //    background-size: cover;
    //}

    /*.breadcrumbs,
    .page-title-wrapper,
    .am-blog-head {
        display: none;
    }

    .thumbnail {
        width: 100%;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    p:empty {
        margin-bottom: 3rem;
    }

    .amblog-categories {
        background-color: #bfb5bb;
        position: relative;
        z-index: 2;
        margin-left: -20px;
        margin-right: -20px;

        @media only screen and(min-width: 768px) {
            margin: 0;
        }

        &.fixed {
            top: 54px;
            position: fixed;
            width: 100%;
        }
    }

    .magazine-links {
        padding: 0;
    }

    .amblog-categories {
        margin-bottom: 0;

        ul {
            white-space: nowrap;
            overflow-x: scroll;

            li {
                padding: 0;
                margin: 0;

                a {
                    padding: 2rem;
                    display: block;
                    color: #fff;
                    font-family: @font-family__serif;
                }
            }
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;

        .list-item {
            @media only screen and(min-width: 768px) {
                max-width: 50%;
            }
        }

        .post-thumbnail {
            margin-bottom: 1rem;
        }
    }

    .list-item {
        padding-top: 0;
        margin-bottom: 2rem;

        a {
            color: #000;
        }

        @media only screen and(min-width: 768px) {
            &:nth-child(odd) {
                .list-content {
                    padding-right: 1rem;
                }
            }
            &:nth-child(even) {
                .list-content {
                    padding-left: 1rem;
                }
            }
        }
    }

    .list-content {
        align-items: flex-start;
        padding: 0;
        background-color: #fff;
    }

    .thumbnail-container {
        margin-left: -20px;
        margin-right: -20px;
        @media only screen and(min-width: 768px) {
            margin: 0;
        }
    }

    .info {
        font-weight: 600;
        font-size: 1.2rem;

        i {
            display: none;
        }

        span {
            margin-right: 1rem;
            position: relative;
            white-space: nowrap;

            &.date {
                &::after {
                    content: ',';
                    position: absolute;
                    right: -3px;
                    display: inline-block;
                }
            }
        }
    }

    .am-read-more {
        border-bottom: 1px solid;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .amblog-post .post-thumbnail {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 2rem;
        @media only screen and(min-width: 768px) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .am-content {
        strong {
            letter-spacing: 1px;
        }
        a {
            color: #839f7f;
            text-decoration: underline;
        }
        ul {
            list-style: initial;
            margin-bottom: 0.75rem;
        }
    }

    .am-header {
        display: none;
    }

    .block-products-list {
        .widget-product-grid {
            display: flex;
            overflow-x: scroll;
        }

        .product-item {
            width: 60%;
            @media only screen and(min-width: 768px) {
                width: 25% !important;
            }
        }

        .block-title {
            font-family: @font-family__serif;
            margin-top: 4rem;
            text-align: center;
            margin-bottom: 1rem;

            strong {
                font-size: 2.4rem;
            }
        }

        .product-item-name {
            a {
                color: #000;
                font-weight: 600;
                text-decoration: none;
            }

            .price-box {
                margin: 0;
            }
        }

        .tax-details {
            display: none;
        }

        .product-item-actions {
            display: block;
        }

        .actions-primary {
            display: flex;

            .tocart {
                flex: 1;
                padding: 2rem;
            }
        }

        .actions-secondary {
            display: none;
        }
    }

    .am-details {
        display: none;
    }

    .amblog-recentposts {
        .am-read-more {
            border-bottom: 1px solid;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.2rem;
        }

        .mbplog-recent-posts {
            display: flex;
            margin-left: -20px;
            margin-right: -20px;
            overflow-x: scroll;

            @media only screen and(min-width: 768px) {
                margin-left: 0;
                margin-right: 0;
            }

            .amblog-recent-post {
                padding-right: 2rem;

                &:last-of-type {
                    padding-right: 0;
                }
            }

            .thumbnail {
                display: block;
                width: 100vw;
                @media only screen and(min-width: 768px) {
                    width: 100%;
                }
            }
        }

        .recent-post-content {
            margin-top: 1rem;
            padding: 0 16px;

            a {
                color: #000;
            }
        }

        .am-recentpost-date {
            font-weight: 600;
            font-size: 1.2rem;
            position: relative;
            white-space: nowrap;
            display: inline-block;
            &::after {
                content: ',';
                position: absolute;
                right: -3px;
                display: inline-block;
            }
        }
    }*/
}
